doctype html 
html 
 head 
  block title
  block style 
    link(rel='stylesheet' href='base.css')
 body 
   block nav 
    nav
     ul 
      li
       a(href='/home') Home
      li
       a(href='/menu') menu
      li
       a(href='/register') register 
      li
       a(href='/') login
    
   block content
   block footer 
      footer 
       p copywright © :- all right reserved || made by piyush thakur
      
              
