extends base.pug
block title 
    title home page
block append style 
   link(rel='stylesheet' href='home.css') 
block content 
  
  div.container
   h1 Alkareem Restaurant
   p a well-run restaurant is like a winning baseball team. it makes the most of every crew member's talent and makes advantage of every split-second to speed up services 
   button 
      a(href='/register') contact us               