extends base.pug
block title 
    title about page 
block append style 
       link(rel='stylesheet' href='menu.css')
       link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
      
block content 
  h2.heading Top Food Items

  .container
    .box
      img(src='1.jpg' alt='error')
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      p Veg Thali
    .box
      img(src='2.jpg' alt='error')
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star-half-o
      p Burger
    .box
      img(src='3.jpg' alt='error')
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      p Bread Egg
  .container
    .box
      img(src='4.jpg' alt='error')
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star-half-o
      p Veg Paneer
    .box
      img(src='5.jpg' alt='error')
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      p Bihri special 
    .box
      img(src='6.jpg' alt='error')
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      p Non Veg Special
  .container
    .box
      img(src='7.jpg' alt='error')
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star-half-o
      p Daal Roti
    .box
      img(src='8.jpg' alt='error')
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      p 56 Vog Thali
    .box
      img(src='fast3.jpg' alt='error')
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      i.fa.fa-star
      p Chiken Momos 

  